import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'

// Main Setting
body__bg_color = #797979
main__bg_color = #ecd09e
link__color = #1f5f97
link__color_hover = #d27548

body
	font-size 16px
	background-color body__bg_color
	padding-top 2px
	line-height 23px
	letter-spacing -.53px

main
	max-width 1000px
	width 100%
	margin 0 auto
	padding 60px 0 
	background-color: main__bg_color
	background-image url('../images/main-bg.png')
	background-repeat repeat
	
p
	padding-top 2px
	PTSansRegular()
	line-height 23px
	letter-spacing -.53px

a 
	color link__color
	transition-duration .5s
	&:hover
		color link__color_hover

.title
	padding-bottom 6px
	PTSansBold()
	font-size 24px
	letter-spacing -.05px
	&_about
		padding-bottom 12px

.text
	padding-top 2px
	PTSansRegular()
	line-height 23px
	letter-spacing -.5px

.textarea
	CourierNew()
	font-size 29px
	letter-spacing .5px
	line-height: 60px;
	width 100%
	height 180px
	padding 0 7px
	background none
	background-image url('../images/textarea-bg.png')
	background-size 100%
	background-position 100% 13px
	border none
	resize none
	overflow hidden
	&_about
		margin-top 20px
@media (max-width: 720px)
	.textarea
		background-size auto
@media (max-width: 480px)
	.textarea
		font-size 20px
		

import('../blocks/**/*')

