import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'

// Main Setting
body
	background-color #797979
	
main
	max-width 1000px
	width 100%
	margin 0 auto
	background-color: #ecd09e
	background-image url('../images/main-bg.png')
	background-repeat repeat

.container
	max-width 770px
	width 1000%
	margin 0 auto
	display flex
	height 100vh

import('../blocks/**/*')
