import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'

// Main Setting
body__bg_color = #797979
main__bg_color = #ecd09e

body
	font-size 16px
	background-color body__bg_color
	padding-top 2px
	line-height 23px
	letter-spacing -.53px

p
	PTSansRegular()
	padding-top 2px
	line-height 23px
	letter-spacing -.53px

main
	max-width 1000px
	width 100%
	margin 0 auto
	background-color: main__bg_color
	background-image url('../images/main-bg.png')
	background-repeat repeat
	padding 60px 0 

.title
	PTSansBold()
	font-size 24px
	letter-spacing -.05px
	padding-bottom 6px

.text
	PTSansRegular()
	padding-top 2px
	line-height 23px
	letter-spacing -.53px

.checkbox
	padding-bottom 10px

	&__label
		PTSansBold()
		font-size 21px
		letter-spacing 0.05px
		
	&__input:not(:checked),
	&__input:checked
		position absolute
		left -9999px
		
	&__input:not(:checked) + &__label,
	&__input:checked + &__label
		position relative
		padding-left 25px
		cursor pointer
		user-select none
		
	&__input:not(:checked) + &__label:before,
	&__input:checked + &__label:before
		content ''
		position absolute
		left 0 
		top 0
		background-image url('http://chernianu.com/project/checkbox/checkbox.png')
		background-repeat no-repeat
		width 19px
		height 18px
		
	&__input:not(:checked) + &__label:after,
	&__input:checked + &__label:after
		content ''
		position absolute
		z-index 10
		top -9px
		left 4px
		background-image url('http://chernianu.com/project/checkbox/check.png')
		width 21px
		height 27px
		background-repeat no-repeat
		line-height 0.8
		transition all .2s
		
	&__input:not(:checked) + &__label:after
		opacity 0
		transform scale(0)
		
	&__input:checked + &__label:after 
		opacity 1
		transform scale(1)


import('../blocks/**/*')

