-var textarea = 'Про компанию CSSSR я узнал совершенно случайно, я слушал подкаcт Frontend Weekend в котором принимал участие Дмитрий Чекин, в интервью мне очень понравилось как рассказывали о компании, о ее проектах и команде. Я не помню, говорили ли в интервью о наличии в команде специалистов из других стран помимо России, но если такие есть, хотелось бы попробовать присоединится к вашей команде и быть в ней полезным, в данный момент я занимаюсь версткой и разработкой сайтов на Wordpress. Сейчас я постепенно повышаю свой уровень в JS и хочу глубже разобраться в технологиях связанных с frontend разработкой.'

mixin about()
	+b.SECTION.about
		+e.container
			+b.P.title._about Расскажите о себе словами
			p.text Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати,<br> будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
			+b.TEXTAREA.textarea._about #{textarea}