-var textarea = 'Ну-ууу-уу...'

mixin about()
	+b.SECTION.about
		+e.container
			+b.P.title._about Расскажите о себе словами
			p.text Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати,<br> будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
			+b.TEXTAREA.textarea._about #{textarea}