include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../page/page
include ../header/header
include ../profile/profile
include ../skills/skills
include ../javascript/javascript
include ../scripts/scripts
include ../about/about
include ../future/future
include ../date/date

doctype html
html(lang='ru')
	include ../head/head
	main
		+page
			+header
			+profile
			+skills
			+javascript
			+about
			+future
			+date
			+scripts(['nouislider.min.js', 'imask.js', 'app.min.js'])