//- Value Setting
-var date_input = "27.12.2017"; 
mixin date()
	+b.SECTION.date&attributes(attributes)
		+e.container
			+e.item
				+e.LABEL.label(for="date-input") Дата Заполнения
				+e.input-block
					+e.INPUT.input(id="date-input" type="text" value="#{date_input}") 