.date
	&__container
		content_container()
		padding-top 70px
	&__item
		display flex
		align-items flex-end
	&__label
		PTSansBold()
		font-size 23px
		white-space nowrap 
		letter-spacing -.4px
	&__input-block
		position relative
		&:after
			position absolute
			left 16px
			bottom 2px
			width 206px
			height 3px	
			content ''
			background #000
	&__input
		position relative
		padding-left 24px
		padding-bottom 10px
		width 100%
		CourierNew()
		font-size 29px
		letter-spacing .5px
		background none
		border none
@media (max-width: 480px)
	.date
		&__container
			padding-top 20px
		&__item
			flex-flow column wrap
			align-items flex-start
		&__input-block
			margin-top 10px
			width 50%
			&:after
				left 0
				width 100%
		&__input
			padding-left 0
			font-size 20px