include ../checkradio/checkradio

mixin future()
	+b.SECTION.future&attributes(attributes)
		+e.container
			p.title Какие у вас планы на будущее?
			p.text Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
			+e.checkradios
				+checkradio("radio-front", "future", "Верстать", false)
				+checkradio("radio-js", "future", "Прокачиваться в JS", true)
				+checkradio("radio-manager", "future", "Менеджерство", false)
				+checkradio("radio-other", "future", "Другое", false)