.future
	&__container
		content_container()
		padding-top 48px
	&__checkradios
		margin-top 8px
		display flex
		flex-flow row wrap
@media (max-width: 480px)
	.future
		&__checkradios
			flex-flow column wrap