.skill-range
	// background none
	// border none
	// box-shadow none
	.noUi-horizontal, .noUi-handle
		right 0
		left 0
		width 16px
		height 16px
		background none
		border 8px solid transparent
		border-top 16px solid #000
		&:before, &:after
			display none
