.skill-range
	background none
	border none
	box-shadow none
	.noUi-horizontal, .noUi-handle
		background none
		border none
		box-shadow none
		&:before
			right 0
			left 50%
			width 17px
			height 14px
			transform translateX(-50%)
			background none
			background-image url('../images/slide-icon.png')
			background-repeat no-repeat
			// border 8px solid transparent
			// border-top 16px solid #000
		&:after
			display none
	&__line
		position absolute
		bottom 0
		width 100%
		height 3px
		background #000