.skill-range
	background none
	border none
	box-shadow none
	.noUi-horizontal, .noUi-handle
		right 0
		left 0
		width 16px
		height 16px
		background none
		border 8px solid transparent
		border-top 16px solid #000
		&:before, &:after
			display none
	// &__input
	// 	position relative
	// 	z-index 999
	// 	width 100%
	// 	&[type=range]
	// 		-webkit-appearance none
	// 		background none
	// 	// Chrome
	// 		&::-webkit-slider-runnable-track
	// 			margin-top 10px
	// 			height 10px
	// 			border none
	// 		&::-webkit-slider-thumb
	// 			margin-top -15px
	// 			width 16px
	// 			border 8px solid transparent
	// 			border-top 16px solid #000
	// 			-webkit-appearance none
	// 			height 16px
	// 		&:focus 
	// 			outline none
	// 	// IE
	// 		// &::-ms-track 
	// 		&::-ms-fill-lower
	// 			margin-top 10px
	// 			height 10px
	// 			border none