include ../checkbox/checkbox 
mixin skills()
	+b.SECTION.skills&attributes(attributes)
		+e.container
			p.title Расскажите о себе чекбоксами
			p.text Отметьте чекбоксами пункты, которые соответствуют вашим 	скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
			+e.grid
				+e.UL.list._first
					+e.LI.item
						+checkbox('check-bem', 'БЭМ/OOCSS', true)
					+e.LI.item
						+checkbox('check-pug', 'Pug (Jade)', true)
					+e.LI.item
						+checkbox('check-preprocess', 'Stylus/LESS/SASS', true)
					+e.LI.item
						+checkbox('check-svg', 'Работаю с SVG', true)
					+e.LI.item
						+checkbox('check-semantic', 'Верстаю семантично', true)
					+e.LI.item
						+checkbox('check-accessiability', 'Accessiability (A11Y)', false)
					+e.LI.item
						+checkbox('check-es', 'ES2015/ES2016', true)
				+e.UL.list._second
					+e.LI.item
						+checkbox('check-gulp', 'Gulp/GRUNT', true)
					+e.LI.item
						+checkbox('check-webpack', 'Webpack', true)
					+e.LI.item
						+checkbox('check-webgl', 'Дружу с WebGL', true)
					+e.LI.item
						+checkbox('check-jquery', 'JQuery', true)
					+e.LI.item
						+checkbox('check-angular', 'Знаю/изучаю Angular', false)
					+e.LI.item
						+checkbox('check-react', 'Знаю/изучаю React', true)
					+e.LI.item
						+checkbox('check-nodejs', 'Знаю/изучаю Node.js', true)
				+e.UL.list_third
					+e.LI.item
						+checkbox('check-git', 'Использую Git', true)
					+e.LI.item
						+checkbox('check-eyes', 'С глазомером всё ок', true)
					+e.LI.item
						+checkbox('check-readblog', 'Читаю blog.csssr.ru', false)
					+e.LI.item
						+checkbox('check-laziness', 'Я ленивый(-ая)', false)
					+e.LI.item
						+checkbox('check-english', 'У меня хороший английский', false)