.javascript
	&__container
		content_container()
		padding-top 50px
		&_range
			margin-top 24px
			padding-top 0
			padding-right 5px
			padding-left 0
	&__skill-names
		position relative
		margin-top 24px
		height 40px
	&__skill-name
		position absolute
		height 100%
		PTSansBold()
		font-size 15px
		line-height 20px
		letter-spacing -1.1px
		&:before
			position absolute
			margin-top -25px
			width 3px
			height 25px
			content ''
			background #000
		&_low
			left 0
		&_mid
			left 18.8%
			&:before
				height 10px
		&_high
			left 48.3%
			&:before
				height 10px
		&_exp
			right 0
			&:before
				right 0
@media (max-width: 720px)
	.javascript
		&__container
			margin-top 5px
			padding-top 10px
			&_range
				display flex
		&__skill-names
			margin-top 0
			display flex
			flex-flow column wrap
			justify-content space-between
			height auto
		&__skill-name
			position relative
			padding-top 10px
			padding-left 25px
			padding-bottom 10px
			height auto
			font-size 18px
			&:before
				top 50%
				left 0
				margin-top 0
				width 20px
				height 2px
			&_low
				top -20px
				left 0
			&_mid
				left 0
			&_high
				left 0
			&_exp
				bottom -18px